@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Cabin SemiBold "), local("Cabin-SemiBold"),
    url("../../../node_modules/typeface-cabin/files/cabin-latin-600.woff2")
      format("woff2"),
    url("../../../node_modules/typeface-cabin/files/cabin-latin-600.woff") format("woff");
}

.root {
  font-size: 62.5%;
}
