@mixin button($backgroundColor, $textColor) {
  background: $backgroundColor;
  color: $textColor;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-family: $fontFamilyCabin;
  font-size: 2em;
  cursor: pointer;
  text-transform: uppercase;
  border: none;

  &:hover {
    background: lighten($backgroundColor, 8%);
    transition: all 0.2s ease;
  }

  &:active {
    background: lighten($backgroundColor, 25%);
  }
}
