.u-wrapper {
  margin: 0 auto;
  max-width: 98%;
  padding: 0 2%;
}

@media screen and (min-width: $medium) {
  .u-wrapper {
    max-width: $medium;
  }
}

@media screen and (min-width: $large) {
  .u-wrapper {
    max-width: $large;
  }
}
