.careProducts {
  background: $lightColor;
  font-size: $textSize;
  padding: 1rem 2%;
}

@media screen and (min-width: $medium) {
  .careProducts {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: repeat(3, auto);
  }
}
