.mainPage {
  background: black
    url("https://res.cloudinary.com/anton-zdanov/image/upload/q_auto/v1513960129/Artboard_1_0_25x_khmkll.jpg")
    no-repeat center top;
  font-family: $fontFamilyCabin;
  min-height: 100%;
  width: 100%;
  @media screen and (min-width: 630px) {
    background-image: url("https://res.cloudinary.com/anton-zdanov/image/upload/q_auto/v1513960129/Artboard_1_0_5x_oqkm20.jpg");
  }

  @media screen and (min-width: 1200px) {
    background-image: url("https://res.cloudinary.com/anton-zdanov/image/upload/q_auto/v1513960129/Artboard_1_0_75x_grffgf.jpg");
  }
}

.mainPage__title {
  font-size: $titleSize;
  text-transform: uppercase;
  grid-column: 1 / -1;
}
