.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-row: 3;
  grid-column: 2;
}

.productItem {
  background-color: white;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.33);
  margin: 4rem 0.5rem 2rem;
  width: 22rem;

  .productItem__description {
    margin: 1.5rem 2rem 0;
  }

  .productItem__name {
    font-variant: small-caps;
    margin: 0 2rem;
  }

  .productItem__priceGroup {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
  }
}

.priceGroup__price {
  background-color: darken($lightColor, 10%);
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 2.5rem;
  flex-basis: 50%;
  height: 3ch;
}

.priceGroup__buy {
  @include button($darkColor, $lightColor);

  font-size: $textSize;
  flex-basis: 50%;
  height: 3ch;
}

.productList__pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.pagination__item {
  display: inline-block;
  font-size: $textSize;
  margin: 0 1rem;
}

.pagination__link {
  @include button($darkColor, $lightColor);

  text-decoration: none;
  padding: 0 0.9ch;

  &:link,
  &:visited {
    color: $lightColor;
  }

  &:hover,
  &:active {
    color: lighten($lightColor, 15%);
  }

  &.-active {
    background-color: lighten(black, 30%);
  }

  &.-disable {
    cursor: not-allowed;
  }
}

@media screen and (min-width: $large) {
  .productList {
    padding: 0 5rem;
  }
}
