.productSelector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.brands__title,
.types__title {
  font-size: $titleSize;
  margin: 1.5rem auto 2rem;
}

.brands__label,
.types__label {
  font-variant: small-caps;
  margin-left: 1rem;
}

.brands__group,
.types__group {
  margin: 1rem 0;
}

.brands__input {
  color: $darkColor;
}

.productSelector__button {
  @include button($darkColor, $lightColor);

  font-size: $textSize;
  margin: 2rem 0;
  padding: 1rem 0;
  grid-column: 1 / -1;
}

@media screen and(min-width: 500px) {
  .productSelector {
    margin: 2rem 4rem 0;
  }
  .brands {
    margin-left: auto;
    margin-right: 3rem;
  }
  .types {
    margin-right: auto;
    margin-left: 3rem;
  }
}

@media screen and (min-width: $medium) {
  .productSelector {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 22rem 10rem;
    margin: initial;
  }

  .types,
  .brands {
    margin-left: 1rem;
  }

  .productSelector__button {
    margin: 2rem 0;
  }
}

@media screen and (min-width: $large) {
  .types,
  .brands {
    margin-left: 3rem;
  }
}
