@media screen and (min-width: $large) {
  .aboutUs {
    display: grid;
    grid-column: 1/3;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 45rem);
    grid-gap: 0 1rem;
  }

  .aboutUs__title {
    font-size: $titleSize;
    grid-column: 1/3;
  }
}
