.mainPage {
  background: black
    url("https://res.cloudinary.com/anton-zdanov/image/upload/q_auto/v1513960129/Artboard_1_0_25x_khmkll.jpg")
    no-repeat center top;
  font-family: $fontFamilyCabin;
  min-height: 100%;
  width: 100%;
  @media screen and (min-width: 630px) {
    background-image: url("https://res.cloudinary.com/anton-zdanov/image/upload/q_auto/v1513960129/Artboard_1_0_5x_oqkm20.jpg");
  }

  @media screen and (min-width: 1200px) {
    background-image: url("https://res.cloudinary.com/anton-zdanov/image/upload/q_auto/v1513960129/Artboard_1_0_75x_grffgf.jpg");
  }
}

.highLights {
  font-size: $textSize;
}

.mainPage__title {
  font-size: $titleSize;
  text-transform: uppercase;
}

.breadCrumbs__list {
  padding: 0;
}

.breadCrumbs__item {
  display: inline-block;
  font-size: $textSize;
  text-transform: uppercase;

  & .breadCrumbs__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: $darkColor;
    }

    &:hover,
    &.-active {
      opacity: 0.8;
    }
  }

  &:nth-child(n + 2)::before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 0.8rem;
    margin: 0 1rem 0.3rem;
    transform: rotate(45deg);
    width: 0.8rem;
  }
}
