.priceList {
  background-color: $lightColor;
  padding: 1rem 2%;
}

.priceList__headline {
  font-size: calc(#{$titleSize});
  text-align: left;
  text-transform: uppercase;
}

@media screen and (min-width: 560px) {
  .priceList__headline {
    border-bottom: 0.2rem solid $darkColor;
    font-size: calc(#{$titleSize});
    line-height: 0;
    padding: 0;
    text-align: center;
  }

  .u-padding {
    background: $lightColor;
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: $large) {
  .priceList__headline {
    font-size: calc(#{$titleSize + 1});
  }
}
