.products__title {
  font-size: $titleSize;
}

.products__list {
  padding: 0;
}

.products__listItem {
  font-variant: small-caps;
  list-style: none;
  margin: 1.5rem 0;

  &::before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 0.8rem;
    margin: 0 1.5rem 0.3rem 0;
    transform: rotate(45deg);
    width: 0.8rem;
  }
}
