.servicePrices__title {
  font-size: $titleSize;
}

.servicePrices__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.servicePrices__table,
.servicePrices__item {
  border: 1px solid black;
  font-variant: small-caps;
  padding: 1.15rem 1.5rem;
  table-layout: fixed;
  width: 100%;
}

.servicePrices__item:nth-of-type(n + 2) {
  text-align: center;
}
