.hero {
  color: $lightColor;
  font-family: $fontFamilyCabin;
  margin-bottom: 3rem;
}

.heroMain {
  text-align: center;

  & .heroMain__title {
    font-size: 4rem;
    margin: 0 auto 0;
    padding-top: 2rem;

    &::after {
      background: $moustacheIcon center bottom;
      background-size: 15rem 15rem;
      content: "";
      display: inline-block;
      height: 10rem;
      margin-bottom: -3rem;
      width: 15rem;
    }
  }

  & .heroMain__subtitle {
    display: block;
    font-family: $fontFamilyCabin;
    font-size: 5rem;
    letter-spacing: -0.05rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }
}

.heroHeadline {
  margin: 0 auto;
  max-width: 35rem;
  text-align: center;

  & .heroHeadline__title {
    font-size: $titleSize;
    margin: 0;

    &::after {
      background-image: $diamondShapeIcon;
      background-size: 1.5rem 1.5rem;
      content: "";
      display: block;
      height: 2rem;
      margin: 1rem auto 0.5rem;
      width: 1.5rem;
    }
  }

  & .heroHeadline__paragraph {
    font-size: $textSize;
    margin: 0 auto 3rem;
  }
}

@media screen and (min-width: 380px) {
  .heroMain__subtitle {
    &::after,
    &::before {
      background-image: $diamondShapeIcon;
      background-size: 2rem 2rem;
      content: "";
      display: inline-block;
      height: 2.75rem;
      margin: 0 1rem 0;
      width: 2rem;
    }
  }
}

@media screen and (min-width: $large) {
  .heroHeadlines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .heroHeadline {
    max-width: inherit;
  }
}
