.registration__title {
  font-size: $titleSize;
  text-align: center;
  text-transform: uppercase;
}

.registration__form {
  margin: 0 auto;
  max-width: $indexInfoWidth;
  padding: 0 2%;
}

.registration__info {
  font-size: $textSize;
}

.registration__field {
  display: inline-block;
  font-size: $textSize;
  margin: 0.5rem auto 0.5rem;
  width: 46%;

  &:nth-child(even) {
    margin-left: 7%;
  }
}

.registration__label {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.registration__input {
  border: 0.2rem solid black;
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 100%;
}

.registration__button {
  display: block;
  margin-top: 2.55rem;
  width: 100%;

  @include button($darkColor, $lightColor);
}
