.gallery__title {
  font-size: $titleSize;
  text-align: center;
  text-transform: uppercase;
}

.gallery__image {
  text-align: center;
  display: block;
  & > * {
    width: 80%;
    height: auto;
  }

  @media screen and (min-width: $medium) {
    & > * {
      width: 65%;
      height: auto;
    }
  }

  @media screen and (min-width: $large) {
    & > * {
      width: 390px;
      height: auto;
    }
  }
}

.gallery__controls {
  display: flex;
  justify-content: space-between;
  margin: 3.5rem auto 1rem;
  max-width: $indexInfoWidth;
  padding: 0;
}

.gallery__button {
  @include button($darkColor, $lightColor);
}
