.contact__title {
  font-size: $titleSize;
  text-align: center;
  text-transform: uppercase;
}

.contact__info,
.contact__schedule {
  font-size: $textSize;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: $indexInfoWidth;
  padding: 0 2%;
}

.contact__schedule {
  margin-top: 2rem;
}

.contact__controls {
  display: flex;
  justify-content: space-between;
  margin: 4rem auto 1rem;
  max-width: $indexInfoWidth;
  padding: 0 2%;
}

.contact__button {
  @include button($darkColor, $lightColor);
}
